body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

.navigacia {
    margin-left: auto;
    display: flex;
    gap: 35px;
    align-items: center;
}

.linki:hover {
    border-bottom: 3px solid;
    border-image: linear-gradient(90deg, #FFDC60 0%, #FFDC60 50%, #5956E8 50%, #5956E8 100%) 1;
}

.statia {
    background: transparent;
    border: none;
}

main {
    background-image: url('Img/Banner.png');
    background-repeat: no-repeat;
    background-size: 100% 110%;
}

.zesatauri {
    font-family: 'Noto Sans';
    font-weight: 500;
}

.satauri {
    font-weight: 800;
    font-size: 67px;
}

.teqsti {
    font-family: 'Noto Sans';
    font-size: 18px;
    color: #555555;
}

.yviteli {
    color: #FEC90C;
}

.lurji {
    color: #5956E8;
}

.gilaki {
    font-weight: 500;
    font-size: 18px;
    padding: 17px 39px 18px;
}

.zesatauri2 {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: #ffffff;
}

.satauri2 {
    font-weight: 600;
    font-size: 38px;
    line-height: 110.5%;
    color: #FFFFFF;
}

.barati {
    background: linear-gradient(180deg, #36363E 0%, #292930 100%);
    border: 1px solid #424245;
    border-radius: 30px;
}

.barati h5 {
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
}

.barati p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;
    color: #D0D0D0
}

.barati a {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #525255;
    padding: 5% 23%;
    border: 1px solid #535355;
    border-radius: 7px;
}

.barati:hover .ganateba {
    fill: #5956E8;
}

.barati:hover a {
    background-color: #FFDC60;
    color: black;
}

.qveda-adgili {
    padding-bottom: 6%;
}

.teqsti5 {
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 15px;
    line-height: 156.5%;
    letter-spacing: 0.135em;
    text-transform: uppercase;
}

.teqsti10 {
    font-weight: 600;
    font-size: 40px;
    line-height: 110.5%;
    text-align: center;
    color: #292930;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 244%;
    color: #555555;
}

.speclist li {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 244%;
    color: #ffffff;
}

.shenadzeni {
    background: #F7F7F7;
    border: 1px solid #E2E2E2;
    border-radius: 10px;
}

.shenadzeni2 {
    background: #292930;
    border-radius: 10px;
}

.zesatauri3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 110.5%;
    color: #292930;
}

.zesatauri4 {
    font-weight: 700;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
}

.shenadzenisp {
    font-family: 'Noto Sans';
    font-size: 18px;
    line-height: 244%;
    text-align: center;
    color: #555555;
}

.shenadzenisp2 {
    font-family: 'Noto Sans';
    font-size: 18px;
    line-height: 244%;
    text-align: center;
    color: #ffffff;
}

.pasi {
    font-family: 'Nunito';
    font-weight: 900;
    font-size: 50px;
    line-height: 110.5%;
    text-align: center;
    color: #292930;
}

hr {
    height: 1px;
    background-color: #D0D0D0;
    border: none;
}

.popular {
    position: absolute;
    top: 5%;
    right: 5%;
    font-family: 'Noto Sans';
    font-weight: 500;
    font-size: 15px;
    line-height: 244%;
    text-align: center;
    color: #292930;
    background: #FFDC60;
    border-radius: 9px;
    padding: 4px 10px;
}

.pasi2 {
    font-weight: 900;
    font-size: 50px;
    line-height: 110.5%;
    text-align: center;
    color: #ffffff;
}

.teqsti15 {
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
}

.teqsti20 {
    font-family: 'Noto Sans';
    font-size: 18px;
    line-height: 156.5%;
    color: #D0D0D0;
}

.input1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    background: #5B5B61;
    border-radius: 7px;
    width: 100%;
}

.input2 {
    background: #FFDC60;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #292930;
    width: 100%;
}

.teqsti25 {
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%;
    color: #FFFFFF;
}

.teqsti30 {
    font-family: 'Noto Sans';
    font-size: 18px;
    line-height: 156.5%;
    color: #FFFFFF;
}

.nomeri {
    font-family: 'Noto Sans';
    background: #3C3C45;
    border-radius: 7px;
    font-weight: 700;
    font-size: 25px;
    line-height: 156.5%;
    color: #FFDC60;
    padding: 10px 20px;
}

.potoebi {
    width: 100%;
}

.w50 {
    width: 50%;
}

.w33 {
    width: 33%;
}